<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" routerLink="">
        <img src="../../assets/img/{{templelogo}}" alt="Logo" width="60" height="60" class="d-inline-block align-text-center">
        <span class="display-6 fw-bold">{{templename}}</span>  
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-pills">
            <li class="nav-item" *ngFor="let item of navitems">
                <a class="nav-link" [routerLink]="item.name | lowercase" routerLinkActive="active">{{item.name}}</a>
            </li>           
        </ul>
    </div>
  </nav>