<div class="container my-2">
<p>The ancient Chemmanthatta Shri Mahadeva temple is one of the 108 Shivalayams in Chemmanthatta village of Chowannur panchayat in Thalapilly taluk of Thrissur district. This temple can be reached within 4 km from Kecheri on the Thrissur- Kozhikode route and 2.5 km from Pannithadam on Kunnamkulam - Wadakkancherry Route.</p>

<p>It is believed that the name Chemmanthatta originated from the word Brahmanthatta - the place (thattakam) where Lord Brahma consecrated Lord Maheswaran. </p>

<p>Shri Mahadev resides in a Dravidian-style circular sanctum sanctorum. The Kerala-style Shri Kovil’s roof is completely covered with a Chembola (a mixture plate composed of tin and copper).</p>

<p>It is believed that Sage Parashuraam was the one who consecrated this east-facing Shiva temple. Lord Shiva, the main deity, is enshrined in a six-foot-tall Maha Shivalinga facing east. Lord Shiva found in raudra (furious) bhava (emotion) resides here after the renunciation of Sati following the Daksha Yaga. Although Shivalinga is in its form, the concept is lord Shiva standing to perform Sivathandavam. Lord Vishnu also resides in the temple as a deity to reduce the raudra (Furious) bhava (emotion) of Lord Shiva. </p>

<p>Inside the Shri kovil, there are three stone lamps at the back. Astrologers and ancients say that it is very auspicious to have in the temple.</p>

<p>Shri Maha Ganapati resides in the southern part of Thirumuttam. Offering green karuka grass garland to Lord Ganapati is considered to be special.
The Bhagavati deity also stands on the north side. Outside on the northwest side near the circumambulation way, the Narasimhamurthy deity resides in a separate sanctum. </p>

<p>Special pujas are performed for seeking blessings of Narasimha Murthy on the day of Shri Mahadev's consecration, during Thiruvutsava, 
    and on Ashtami Rohini day.</p>

<p>On the southern side of the circumambulation, the deities of Shasta and Purna Pushkala Devi are consecrated together.  From this Shasta Sannidhi, thousands of devotees leave for Sabarimala every year with their bundles tied up for Ayyapan Darshan. On Saturdays, devotees offer sesame wicks in front of Shasta for gaining auspiciousness in the family. </p>

<p>Nagaraja and Nagayakshi are enshrined on the south side of Shasta's temple. Devotees pray for Naga's pleasing by performing Naga puja, offering Noorum Paalum, and lighting wick. From there, one can see the deities of Vettakkorumakan, Vana Durga, Bhadra Kali, and Nagas straight ahead. </p>

<p>The ritual of 'Muttirakkal' using coconut is considered very important for Bhadrakali to end the suffering of devotees. With utmost purity and devotion, daily rituals, special poojas, and abhisheka offerings to Shri Mahadev and sub-devas are conducted.</p>

<p>To the north of the temple is a vast temple pond. There is a direct connection between the temple pool and the tirtha well inside the temple. Thus, the locals have been keeping the temple pond free of contamination. The roofless temple gopuram is sculptural and completely made of red stone. The wall surrounding the temple has been built in the pattern of Anapalla. The red stone wall along the corridor is very attractive and full of grandeur. The Central Department of Archaeology has confirmed that the murals on the outer walls of the Dravidian-style Vatta of Shri Kovil date back to the 17th and 18th centuries.</p>
</div>
