<div class="table-responsive">
    <div class="sub-header-text">Vazhipadu Details</div> 
    <table class="table table-striped">
        <!-- <caption class="h5">Vazhipadu Details</caption> -->
        <thead>
        <tr>
            <th scope="col">Upasana Moorthy</th>
            <th scope="col">Vazhipadu</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let record of vazhipadu">
            <td>{{record.whom}}</td>
            <td>{{record.what}}</td>
        </tr>
        </tbody>       
    </table>
    <span class="badge text-bg-info float-end" style="cursor: pointer;" (click)="callParentScrollEvent(elementId)">Move Up</span>
</div>
