<div class="row">
    <div class="col">
        <!-- Displays the main temple entrance image -->
        <app-banner></app-banner> 
    </div>
</div>
<p>connect works!</p>
<div class="fw-bold text-start h6">Temple Location</div>  
<div class="row">
    <div class="col">        
        <iframe width="100%" height="auto" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJM-wF6ZPqpzsRJkfhhuIBc9I&key=AIzaSyDj9vVOE77QBU0uIPL6N0wcE6ZCyKMsJXM"></iframe>
    </div>
</div>
