<div class="row">
    <div class="col">
        <!-- Displays the main temple entrance image -->
        <app-banner></app-banner> 
    </div>
</div>
<div class="sub-header-text">For information about temple and its related details</div>  
<div class="row mb-2">
    <div class="col"> 
        <h6 class="card-subtitle text-muted"> <span class="badge bg-secondary">+91 9847452223</span> </h6>   
    </div>
</div>

<div class="sub-header-text">Temple Location</div>  
<div class="row">
    <div class="col">        
        <iframe width="100%" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJM-wF6ZPqpzsRJkfhhuIBc9I&key=AIzaSyDj9vVOE77QBU0uIPL6N0wcE6ZCyKMsJXM"></iframe>
    </div>
</div>




