<div class="row">
    <div class="col">
        <!-- Displays the main temple entrance image -->
        <app-banner id="banner"></app-banner> 
    </div>
</div>
<!-- Place buttons for Darshan Timing,Vazhipadu List, Special Poojas,Bank Account / QR code Details -->
<div class="container my-2">
    <div class="row">
        <div class="col">
            <div class="sub-header-text">For performing poojas in the temple, kindly refer to Vazhipadu and Special Poojas section</div>  
            
        </div>
    </div>
    <!-- <div class="row my-2">
        <div class="col"> 
            <span class="badge bg-secondary text-break text-wrap lh-base">For receipt and price details; kindly contact Devasom Manager +91 9847452223</span>            
        </div>
    </div> -->

    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary me-2 my-2 btn-sm" (click)="scroll('darshan')" >Darshan Timing</button>
            <button type="button" class="btn btn-success me-2 btn-sm" (click)="scroll('vazhipadu')">Vazhipadu</button>
            <button type="button" class="btn btn-warning me-2 btn-sm" (click)="scroll('specialpooja')" >Special Poojas</button>
            <button type="button" class="btn btn-info me-2 btn-sm" (click)="scroll('account')">Contribution</button>
        </div>
    </div>
<br>
    <!-- 1. Darshan Timing And Pooja Timing -->
    <app-darshan id="darshan" [elementId] = "'banner'" (newEvent)="scroll($event)"></app-darshan>
    <!-- 2. Vazhipadu List  -->
    <!-- passing banner string value to the elementId child binding property -->
    <app-vazhipadu id="vazhipadu" [elementId] = "'banner'" (newEvent)="scroll($event)"></app-vazhipadu> 
    <!-- 3. Special Poojas -->
    <app-specialpooja id="specialpooja" [elementId] = "'banner'" (newEvent)="scroll($event)"></app-specialpooja>
    <!-- 4. Account Details -->
    <div class="sub-header-text text-wrap text-break my-2">
        For generous contribution towards temple maintenance;
    </div> 
    <app-account id="account"></app-account>
</div>

