<div id="carouselslide" class="carousel slide" data-bs-ride="carousel" >
  <div class="carousel-inner">
    <ng-container *ngIf="getScreenWidth < 992; else bigSizeSlide">
      <div class="carousel-item" 
        *ngFor="let item of imgcarousel; index as i" [ngClass]="{'active': i==0}" 
        >
        <img src="../../assets/img/{{item}}" alt="{{item}}" style="height:25vh; width: 100vw;">
      </div>     
    </ng-container>
    <ng-template #bigSizeSlide>
      <div class="carousel-item" 
        *ngFor="let item of imgcarousel; index as i" [ngClass]="{'active': i==0}" 
        >
        <img src="../../assets/img/{{item}}" alt="{{item}}" style="height:65vh; width: 90vw;">
      </div>     
    </ng-template>
  </div>
</div>

