<div class="container-md">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="https://img.freepik.com/free-vector/sunflower-with-pedicle_98292-4412.jpg?size=338&ext=jpg&uid=R81012957&ga=GA1.1.346917344.1678251445&semt=sph" alt="Logo" width="60" height="60" class="d-inline-block align-text-center">
            Chemmanthatta Mahadeva Kshethram
          </a>
        </div>
      </nav>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav-pills nav-fill nav-justified">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Puranam</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Devathakal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Pooja Sevanam</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Administration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Festivals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
