<div class="table-responsive">
    <table class="table table-striped caption-top">
        <caption class="h5">Special Poojas</caption>
        <thead>
        <tr>
            <th scope="col">Malayalam Month</th>
            <th scope="col">Upasana Moorthy</th>
            <th scope="col">Pooja Description</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let record of specialpooja">
            <td>{{record.month}}</td>
            <td>{{record.moorthy}}</td>
            <td>{{record.description}}</td>
        </tr>
        </tbody>
    </table>
    <span class="badge text-bg-info float-end" style="cursor: pointer;" (click)="callParentScrollEvent(elementId)">Move Up</span>
</div>
