<div class="row">
    <div class="col">
        <!-- Displays the main temple entrance image -->
        <app-banner></app-banner> 
    </div>
</div>
<div class="row">
    <div class="col">
        <!-- About the temple -->
        <!-- <app-about></app-about> -->
        <!-- Poem on chemmanthattappa -->
        <app-prelude class="text-center" ></app-prelude>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="row">
            <p>Recent Event </p>
        </div>
        <div class="row">
            <p>Advertisement</p>
        </div>       
    </div>
</div>
