<div class="row">
    <div class="col">
        <!-- Displays the main temple entrance image -->
        <app-banner></app-banner> 
    </div>
</div>
<div class="container my-2">
    <div class="row">
        <div class="col">
            <!-- About the temple -->
            <!-- <app-about></app-about> -->
            <!-- Poem on chemmanthattappa -->
            <app-prelude class="text-center para-text" ></app-prelude>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <p >Recent Event </p>
            </div>
            <div class="row">
                <div class="col">               
                <!-- <p class="header-text">Please make use of UPI Scan & Pay or Netbanking Transfer for any generous contribution to temple or poojas </p> -->
                <!-- <p class="header-text">Bank Account Details</p> -->

                <!-- <div class="sub-header-text">UPI Scan and Pay</div>  -->
                <!-- UPI Scan And Pay -->
                <!-- <div class="card rounded-0 p-3 my-2 border-0 align-items-center" >
                    <img src="../../assets/img/{{upipay}}" class="card-img-top rounded-0 img-thumbnail img-fluid" alt="{{upipay}}" style="height: auto;width:15rem" >
                </div> -->
                <!-- Netbanking Details -->
                <app-account id="account"></app-account>
              
            </div>       
        </div>
    </div>
</div>
