
<div class="table-responsive">
    <table class="table table-striped caption-top">
        <caption class="h5">Online contributions to Temple can be done through our Bank account</caption>
        <tbody>
        <tr>
            <td>
                <blockquote class="blockquote text-center fw-bold">
                    Kerala Uranma Devasam board <br>
                    Account No: 0320053000001347 <br>
                    South Indian Bank <br>
                    Kecheri Branch <br>
                    IFSC Code SIBL0000320
                </blockquote>
            </td>

        </tr>

        </tbody>
    </table>
</div>

