<div>
    <div class="sub-header-text my-2">Netbanking Account Details</div> 
    <!-- <caption class="h5">Online contributions to Temple can be done through our Bank account</caption> -->
    <!-- <table class="table table-striped caption-top">
        <tbody>
        <tr>
            <td>
                <blockquote class="blockquote text-center fw-bold">
                    Kerala Uranma Devasam board <br>
                    Account No: 0320053000001347 <br>
                    South Indian Bank <br>
                    Kecheri Branch <br>
                    IFSC Code SIBL0000320
                </blockquote>
            </td>
        </tr>
        </tbody>
    </table> -->
    <div class="card rounded-0 p-3 border-0 align-items-center" >
        <p class="text-center fw-bold para-text">
            Kerala Uranma Devasam Board <br>
            Account No: 0320053000001347 <br>
            South Indian Bank <br>
            Kecheri Branch <br>
            IFSC Code SIBL0000320
        </p>
    </div>
</div>

